body {
  display: flex;
  background-color: #a8c7fa;
}

.pattern-1 {
  width: 30em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10em;
}

.pattern-1 .circle {
  width: 20em;
  height: 20em;
  border: 4px solid #3563ac;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pattern-1 .square {
  width: 14em;
  height: 14em;
  border: 4px solid #3563ac;
  transform: rotate(45deg);
  background-color: orange;
}

.pattern-1 .square-2 {
  width: 14em;
  height: 14em;
  border: 4px solid #3563ac;
  transform: rotate(45deg);
  margin-top: -1px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: orangered;
}

.pattern-1 .circle-2 {
  width: 5em;
  height: 5em;
  border: 4px solid #3563ac;
  border-radius: 50%;
  background-color: #a8c7fa;
}

.pattern-2 {
  width: 30em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10em;
}

.pattern-2 .circle {
  width: 20em;
  height: 20em;
  border: 4px solid #3563ac;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pattern-2 .circle-2 {
  width: 8em;
  height: 20em;
  border: 4px solid #3563ac;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: orangered;
}

.pattern-2 .square {
  width: 5.6em;
  height: 5.6em;
  transform: rotate(45deg);
  border: 4px solid #3563ac;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #a8c7fa;
}

.pattern-2 .circle-3 {
  width: 3em;
  height: 3em;
  border: 4px solid #3563ac;
  border-radius: 50%;
  background-color: yellow;
}

.pattern-3 {
  width: 30em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10em;
}

.pattern-3 .circle {
  width: 20em;
  height: 20em;
  border: 4px solid #3563ac;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pattern-3 .line-1 {
  border-left: 4px solid #3563ac;
  height: 20em;
}

.pattern-3 .line-2 {
  border-left: 4px solid #3563ac;
  height: 20em;
  transform: rotate(45deg);
}

.pattern-3 .line-3 {
  border-left: 4px solid #3563ac;
  height: 20em;
  transform: rotate(90deg);
}

.pattern-3 .line-4 {
  border-left: 4px solid #3563ac;
  height: 20em;
  transform: rotate(120deg);
}

.pattern-3 .circle-2 {
  width: 15em;
  height: 15em;
  border: 4px solid #3563ac;
  border-radius: 50%;
  position: absolute;
  display: flex;
  background-color: orangered;
}

.pattern-3 .square-1 {
  width: 3em;
  height: 3em;
  border: 4px solid #3563ac;
  transform: rotate(45deg);
  background-color: yellow;
  margin-top: 5.7em;
  margin-left: 1em;
}

.pattern-3 .square-2 {
  width: 2em;
  height: 15em;
  border: 4px solid #3563ac;
  margin-left: 1.5em;
  margin-top: -3px;
  background-color: yellow;
}

.pattern-3 .square-3 {
  width: 3em;
  height: 3em;
  border: 4px solid #3563ac;
  transform: rotate(45deg);
  background-color: yellow;
  margin-top: 5.7em;
  margin-left: 2em;
}/*# sourceMappingURL=taskpattern-2.css.map */